/* Base Styles */

* {
	overflow-y: hidden; /* Hide vertical scrollbar */
}

html, body {
	background-color: #1f1f23;
	margin: 0;
	height: 100%;
}

/* Player Styling */
#players {
	height: 50%;
}

.player {
	height: 100%;
}

/* Chat Styling */
#chats {
	height: 50%;
	width: 100%;
}

.chat {
	height: 100%;
}


/* Horizontal Layout */

.horizontal {
	height: 50%;
	width: 100%;
}